---
layout: default
make-smaller-titles: true
---


<div class="container-fluid index">
    <div class="row">

        <div class="col-md-12 main content-panel">

            <div class="gravatar">
                <img src="assets/img/icon.png" class="about-image" height="150" width="150" alt="{{ site.title }}" />
            </div>

            <h1 class="header author-header" itemprop="headline">WallΞTH</h1>

            <div class="author-text">
              native Ethereum Android wallet
            </div>

	    <div style="padding-top:48px"><center>
		<a href="https://play.google.com/store/apps/details?id=org.walleth"><img src="/assets/img/play_badge.png"/></a><br/><br/>
		<a href="https://f-droid.org/repository/browse/?fdid=org.walleth"><img src="/assets/img/fdroid_badge.png"/></a><br/><br/>
		<a href="/media"><img src="/assets/img/yt_logo_rgb_dark.png"/></a><br/>
	    </center></div>
            {% include social_links.html %}
<center><a href="https://riot.im/app/#/room/#walleth:matrix.org"><img src="/assets/img/matrix_logo.png"/></a><br/><br/></center>
          </div>
          <div class="col-md-12 main content-panel">

            <div class="articles">

              <h2>Latest Articles</h2>

              <ul>
                  {% for post in site.posts limit: site.post_limit %}

                      <li>
                          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                          <small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small>
                      </li>

                  {% endfor %}
                  <li>
                      <small><i><a href="{{ site.baseurl }}/posts/">more...</a></i></small>
                  </li>
              </ul>

            </div>

        </div>

    </div>
</div>
